DATA2001_CONFIG=/app/configs/example.yaml
DATA2001_DATABASE_HOST=data2001-postgis
DATA2001_DATABASE_PORT=5432
DATA2001_DATABASE_NAME=data2001
DATA2001_DATABASE_USER=data2001
DATA2001_DATABASE_PASSWORD=data2001
DATA2001_DATABASE_SCHEMA=data2001
